<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>⚙️ Конфигурация</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <main class="container">
        <h1>⚙️ Конфигурация</h1>

        <form method="post" action="/update-config">
            <label for="browser">
                🌎 Браузер.
            </label>
            <select id="browser" name="browser">
                <option value="Floorp">Floorp</option>
            </select>

            <label for="bookmarks_folder">
                🏙️ Директория закладок.
            </label>
            <input
                type="text"
                id="bookmarks_folder"
                name="bookmarks folder"
                placeholder="например: {{ bookmarks_folder }}"
            >

            <label for="custom_browser_profile">
                📂 Путь к профилю браузера.
            </label>
            <input
                type="text"
                id="custom_browser_profile"
                name="custom browser profile"
                placeholder="например: {{ browser_profile }}"
            >

            <label for="name_report_file">
                📝 Название файла репорта.
            </label>
            <input
                type="text"
                id="name_report_file"
                name="name report file"
                placeholder="например: {{ name_report_file }}"
            >

            <button type="submit">Изменить конфигурацию</button>

        </form>

        <form method="post" action="/update-config">
            <input type="hidden" id="is_default" name="is default" value="Да" hidden>
            <button type="submit">Установить значения по умолчанию</button>
        </form>
        <button onclick="window.location.href='/directory-analytics/new'">Вернуться к анализу</button>
        <button onclick="window.location.href='/shutdown'">Остановить сервер приложения</button>
    </main>
</body>
</html>
